extends layout.pug

block content
    p
    a.button(href='new-book.pug') Create New Book
    table
    thead
        tr
        th Title
        th Author
        th Genre
        th Year
    tbody
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
        tr
        td
            a(href='update-book.pug')= booklist.title
        td= booklist.author
        td= booklist.genre
        td= booklist.year
