extends layout.pug

block content
    p
        a.button(href='/books/new') Create New Book
    
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year
            tr
                td
                    a(href='/update-book/' + book.id)= booklist.title
                td= booklist.author
                td= booklist.genre
                td= booklist.year